body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0a0a0a;
    color: #fff;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    background: url("imagem/image.png") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}



header {
    background-color:transparent;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0,5;
    position: absolute;
}
.destaque{
    color: white;
    -webkit-text-stroke: 2px black;
    font-weight: bold;
}

.logo {
    font-size: 28px;
    color: rgb(1, 1, 7);
}

nav a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

.banner {
    background: -o-linear-gradient(to right, #000428, #004e92);
    padding: 60px;
    text-align: center;

}

.banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.banner button {
    background-color: #FFD700;
    color: #000;
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.meu-botao {
    background-color: #FFD700 color(whiter red rgb(245, 250, 245) blue);
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0, 3%;
}

.meu-botao:hover {
    background-color: #d30e3c;
    box-shadow: #f7053e;
}


.section {
    padding: 40px;
    text-align: center;
}

.section h2 {
    font-size: 28px;
    color: #ffd700;
    margin-bottom: 20px;
}

.section button:hover {
    background-color: #f7053e;
    cursor: pointer;
    transition: background-color 0, 3%;
}

.card {
    background-color: #1c1c1c;
    margin: 10px auto;
    padding: 20px;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px #FFD700;
}

footer {
    background-color: #111;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #aaa;
}

footer a {
    color: #FFD700;
    margin: 0 10px;
    text-decoration: none;
}

.img-pequena {
    width: 80px;
    /* largura fixa */
    height: auto;
    /* altura proporcional */
    margin-right: 10px;
    vertical-align: middle;
}